@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

.react-colorful {
  width: 100% !important;
  max-width: 100% !important;
}

html,
body {
  font-family: "Outfit", sans-serif !important;
}
html {
  scroll-behavior: smooth;
}

